/* Creative Composer - Balde73
   v0.1
   CSS Library
   License: none (public domain)
*/



/* ------------------------------------------------------- *\
---------------- RESET
\* ------------------------------------------------------- */


    /* RESET BY MEYERWEB */

    /* http://meyerweb.com/eric/tools/css/reset/ 
       v2.0 | 20110126
       License: none (public domain)
    */

    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed, 
    figure, figcaption, footer, header, hgroup, 
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
    /* HTML5 display-role reset for older browsers */
    article, aside, details, figcaption, figure, 
    footer, header, hgroup, menu, nav, section {
        display: block;
    }
    body {
        line-height: 1;
    }
    ol, ul {
        list-style: none;
    }
    blockquote, q {
        quotes: none;
    }
    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }

    * {
        box-sizing    : inherit;
        text-rendering: optimizeLegibility;
        -moz-osx-font-smoothing: grayscale;
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-touch-callout: none;
    }

    *:before, *:after {
        box-sizing: inherit;
    }



/* ------------------------------------------------------- *\
---------------- my reset
\* ------------------------------------------------------- */

html {
    font-family: "Open Sans", sans-serif;
    box-sizing : border-box;
}

html, body{
    margin:     0;
    padding:    0;
    font-size:  16px;
    height:     100%;
}

a{
    color:           inherit;
    text-decoration: none;
}

img{
    display: block;
}

ul li{
    list-style: none;
}

h5{
    font-size:      inherit;
    margin-bottom:  13px;
    font-weight:    bolder;
}







/* ------------------------------------------------- *\
------------------- STRUCTURE
\* ------------------------------------------------- */

.no-font-split, .split-box{
    font-size: 0;
}
.split-box-middle .split{
    vertical-align: middle;
}
.no-font-split > .split, .split-box > .split{
    font-size: 16px;
}

.max-full{
    max-width:  100%;
}
.all-height{
    height:     100%;
}
.all-width{
    width:      100%;
}
.all-height-width{
    width:      100%;
    height:     100%;
}

.split{
    display: inline-block;
    vertical-align: top;
}
.split1,    .split-box-1 > .split{
	width:  100%;
}
.split70p{
    width:  70%;
}
.split60p{
    width:  60%;
}
.split50p,  .split2,    .split-box-2 > .split{
	width:  50%;
}
.split40p{
    width:  40%;
}
.split3,    .split-box-3 > .split{
	width:  33.333%;
}
.split4,    .split-box-4 > .split{
	width:  25%;
}
.split5,    .split-box-5 > .split{
	width:  20%;
}
.split6,    .split-box-6 > .split{
	width:  16.666%
}
.split8,    .split-box-8 > .split{
	width:  12.5%;
}
.split10,   .split-box-10 > .split{
	width:  10%;
}
.split20,   .split-box-20 > .split{
	width:  5%;
}


@media screen and (max-width: 620px){

	.msplit1, .msplit-box-1 > .split{
		width: 100%;
	}
	.msplit2, .msplit-box-2 > .split{
		width: 50%;
	}
	.msplit3, .msplit-box-3 > .split{
		width: 33.333%;
	}
	.msplit4, .msplit-box-4 > .split{
		width: 25%;
	}
	.msplit5, .msplit-box-5 > .split{
		width: 20%;
	}
	.msplit6, .msplit-box-6 > .split{
		width: 16.666%
	}
	.msplit8, .msplit-box-8 > .split{
		width: 12.5%;
	}
	.msplit10, .msplit-box-10 > .split{
		width: 10%;
	}
	.msplit20, .msplit-box-20 > .split{
		width: 5%;
	}

}


.full-screen{
    width:  95%;
    margin: 0 auto;
}

.all-inside select, .all-inside input, .all-inside textarea, .all-inside label{
    width: 100%;
}

.limitatore{
    width: 95%;
    max-width: 900px;
    margin: 0 auto;
}

.min-limitatore{
    width: 95%;
    max-width: 450px;
    margin: 0 auto;
}


/* navigator */
.nav-side{
    position: fixed;
    height:   100%;
    width:    280px;
    z-index:  100;
}

.nav-side .nav-title{
    height:     80px;
}

.nav-side .nav-title a{
    display:     block;
    font-size:   25px;
    line-height: 40px;
    height:      80px;
    padding:     20px;
}

.nav-side .nav-title img{
    display:    block;
    height:     40px;
}

.nav-side .nav-subtitle{
    height:      60px;
    line-height: 60px;
    font-size:   20px;
    text-align:  center;
}

.nav-side .nav-ul{
    overflow: auto;
    height:   calc( 100% );
}

.has-nav-title.nav-side .nav-ul{
    height:   calc( 100% - 80px );
}

.nav-side ul li{
    cursor:    pointer;
}

.nav-side ul li a, .nav-side ul li span{
    padding:         20px;
    display:         block;
    text-decoration: none;
}


/* has-nav-side */
.has-nav-side{
    margin-left: 280px;
}

.open-nav-side{
    display: none;
}

@media screen and (max-width: 620px){
    .nav-side{
        display: none;
        left:    -100%;
        -webkit-transition: .4s left;
    }

    .has-nav-side{
        margin-left: 0;
    }

    .open-nav-side{
        display:            block;
        position:           absolute;
        top:                10px;
        left:               10px;
        cursor:             pointer;
        padding:            10px;
    }

    .nav-side-open{
        width:   90%;
        left:    0;
        display: block;
    }
}


.selectable, input, textarea{
    -webkit-user-select:    text;
    -khtml-user-select:     text;
    -moz-user-select:       text;
    -ms-user-select:        text;
    user-select:            text;
    -webkit-touch-callout:  text;
}

.all-selectable, .all-selectable *{
    -webkit-user-select:    all;
    -khtml-user-select:     all;
    -moz-user-select:       all;
    -ms-user-select:        all;
    user-select:            all;
    -webkit-touch-callout:  all;
}

/* position */
.anchor{
    position: relative;
}
.ocean-floor{
    position:   absolute;
    bottom:     0;
    left:       0;
    width:      100%;
}
.sky{
    position:   absolute;
    top:        0;
    left:       0;
    width:      100%;
}






/* ------------------------------------------------ *\
--------------------- COMPONENTS
\* ------------------------------------------------ */


/* INPUT */
input, textarea, select{
    box-shadow:     none;
    outline:        none;
    border:         1px solid rgba(0,0,0,.1);
    padding:        5px;
    color:          black;
    height:         30px;
}

label{
    margin-bottom:  5px;
    display:        block;
}

/* BUTTON */
.btn {
    width:              100%;
    padding:            12px 0px;
    margin:             0 auto;
    display:            block;
    text-align:         center;
    border:             1px solid rgba(0,0,0,.3);
    text-transform:     uppercase;
    cursor:             pointer;
    color:              inherit;
}

.btn-ghost{
    border:             0;
}

.btn-color{
    border-color:       inherit;
}

.btn-inline{
    display: inline-block;
    width:   auto;
    padding: 8px 16px;
}

.btn-3d{
    background:         white;
    border-color:       rgba(0,0,0,.1);
    position:           relative;
    box-shadow:         none;
    width:              160px;
}

.btn-3d::after{
    content:            "";
    height:             1px;
    width:              80%;
    position:           absolute;
    bottom:             2px;
    left:               10%;
    z-index:            -1;
-webkit-box-shadow:     0 2px 12px 4px rgba(0,0,0,.2);
   -moz-box-shadow:     0 2px 12px 4px rgba(0,0,0,.2);
        box-shadow:     0 2px 12px 4px rgba(0,0,0,.2);
}

.btn.btn-link{
    padding:            0;
}

.btn a{
    padding:            10px;
}

.btn-radius{
    border-radius:      8px;
}

.btn-success{
    color:            white;
    background-color: #3DC929;
}

.btn-normal{
    background-color: rgba(0,0,0,.1);
}


/* ICON */
.icon{
    text-align: center;
}

.icon-36{
    font-size: 36px;
}

.icon-on-right-center{
    position:   absolute;
    right:      0;
    top:        50%;
}

.icon-abs-40{
    margin-top: -20px;
    width:       40px;
    height:      40px;
    line-height: 40px;
}



/* LIST */
ul.border-1 li{
    border-top: 1px solid rgba(0,0,0,.1);
}

ul.border-bottom li:first-child{
    border-top: 0;
}

ul.border-bottom li:last-child{
    border-bottom: 0;
}

/* TO DO insert animation */
li.dropdown > ul{
    display:     none;
}

li.dropdown-active > ul{
    display:          block;
    background-color: rgba(0,0,0,.15);
}

li.dropdown-active > span > i{
    -webkit-transform:  rotateX(180deg); /* Safari */
    transform:          rotateX(180deg);
}


/* mostra una freccia all'interno della lista */
ul.arrow-list > li{
    position:           relative;
}

ul.arrow-list > li::after{
    content:            "";
    position:           absolute;
    height:             16px;
    width:              16px;
    top:                50%;
    right:              15px;
    margin-top:         -8px;
    opacity:            .4;
    border-top:         2px solid;
    border-right:       2px solid;
    -webkit-transform:  rotateZ(45deg);
}


/* MODAL */
.modal-container{
    display:            none;
    position:           fixed;
    top:                0;
    left:               0;
    width:              100%;
    height:             100%;
    opacity:            0;
    background-color:   rgba(0,0,0,.7);
    z-index:            1000;

    -webkit-transition: .1s opacity;
    -moz-transition:    .1s opacity;
    -ms-transition:     .1s opacity;
    -o-transition:      .1s opacity;
    transition:         .1s opacity;
}

.modal{
    display:            block;
    width:              90%;
    max-width:          700px;
    margin:             0 auto;
    margin-top:         10vh;
    background-color:   white;
    opacity:            0;

    -webkit-transform:  scale(0);
    -moz-transform:     scale(0);
    -ms-transform:      scale(0);
    -o-transform:       scale(0);
    transform:          scale(0);

    -webkit-transition: .3s transform cubic-bezier(0.22, 0.29, 0.54, 1.16), .2s opacity;
    -moz-transition:    .3s transform cubic-bezier(0.22, 0.29, 0.54, 1.16), .2s opacity;
    -ms-transition:     .3s transform cubic-bezier(0.22, 0.29, 0.54, 1.16), .2s opacity;
    -o-transition:      .3s transform cubic-bezier(0.22, 0.29, 0.54, 1.16), .2s opacity;
    transition:         .3s transform cubic-bezier(0.22, 0.29, 0.54, 1.16), .2s opacity;
}

.modal-container.modal-opened{
    opacity:            1;
}

.modal-container.modal-opened .modal{
    opacity:            1;

    -webkit-transform:  scale(1);
    -moz-transform:     scale(1);
    -ms-transform:      scale(1);
    -o-transform:       scale(1);
    transform:          scale(1);
}

.modal textarea{
    height: auto;
}


/* TABS */
.tabs-selectable li{
    cursor: pointer;
}


/* TOAST */
#toast-box{
    position:           fixed;
    text-transform:     uppercase;
    bottom:             0;
    left:               0;
    width:              100%;
    color:              #ECFF50;
    z-index:            1000;
}

.toast{
    position:           absolute;
    bottom:             -100px;
    left:               0;
    width:              100%;
    padding:            15px 30px;
    background-color:   rgb(40,40,40);

-webkit-transition:     bottom .4s;
   -moz-transition:     bottom .4s;
    -ms-transition:     bottom .4s;
     -o-transition:     bottom .4s;
        transition:     bottom .4s;
}

/* CODE */
.code{
    padding:            20px;
    background-color:   rgba(0,0,0,.8);
    color:              rgba(255,255,255,.8);
    letter-spacing:     1px;
}

.code-preview{
    text-align:         center;
    padding:            5px;
    margin:             10px 0;
    background-color:   rgba(0,0,0,.05);
    border:             1px solid rgba(0,0,0,.1);
}

/* TABLE */
.normal-table{
    width: 100%;
}

.normal-table tr th{
    padding: 10px 0;
}

.normal-table tr td{
    padding: 5px 0;
}

/* IMAGE AND TEXT */
.image-text{
    position:       relative;
}

.image-text img{
    position:       absolute;
    top:            0px;
    left:           0px;
}

.image-text .text{
    padding-left:   5px;
}

.image-text-40{
    min-height:     40px;
}
.image-text-40 .text{
    padding-left:   40px;
}
.image-text-40 img{
    width:          40px;
    height:         40px;
}

.image-text-100{
    min-height:     100px;
}
.image-text-100{
    padding-left:   100px;
}
.image-text-100 img{
    width:          100px;
    height:         100px;
}

/* CARD */
.card{
    background-color: white;
    border-radius: 2px;
}

.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.2s ease-in-out;
}

.card-1:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card-4 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}


/* ------ */
#velina{
    position:           fixed;
    top:                0;
    left:               0;
    width:              100%;
    height:             100%;
    background-color:   rgba(0,0,0,.8);
    z-index:            99;
}




/* ------------------------------------------------ *\
--------------------- TEXT LAYOUT --------------------
\* ------------------------------------------------ */
.paragraph{
    line-height: 140%;
    text-align:  justify;
}

.article .intro{
    position:       relative;
    padding-top:    14vh;
    padding-bottom: 30px;
}

.article .intro h1{
    padding:        10px 0;
    font-size:      50px;
}

.article .intro h3{
    line-height:    26px;
    font-size:      24px;
}


/* ------------------------------------------------- *\
----------------------- DESIGN
\* ------------------------------------------------- */

.space{
    height:             1px;
}

.space5{
    margin-top:         5px;
    margin-bottom:      5px;
}
.space10{
    margin-top:         10px;
    margin-bottom:      10px;
}

.space20{
    margin-top:         20px;
    margin-bottom:      20px;
}

.space40{
    margin-top:         40px;
    margin-bottom:      40px;
}

/* border */
.no-border{
    border:             0;
}
.border{
    border:             1px solid rgb(0,0,0,.1);
}
.border-bottom{
    border-bottom:      1px solid rgba(0,0,0,.1);
}
.border-color{
    border-color:       inherit;
}
.border1{
    border-width:       1px;
}
.border2{
    border-width:       2px;
}
.border3{
    border-width:       3px;
}
.border4{
    border-width:       4px;
}
.border5{
    border-width:       5px;
}
.border-reset{
    border:             0;
}

.darker1{
    background-color: rgba(0,0,0,.1);
}
.darker2{
    background-color: rgba(0,0,0,.2);
}
.darker3{
    background-color: rgba(0,0,0,.3);
}

.only-mob{
    display:    none;
}

.block{
    display:    block;
}
.hide{
    display:    none;
}

.font{
    font-size:  16px;
}
.no-font{
    font-size:  0;
}

.font200, .big-font{
    font-size:  200%;
}
.font150{
    font-size:  150%;
}
.font120{
    font-size:  120%;
}
.font100, .normal-font{
    font-size:  100%;
}
.font90{
    font-size:  90%;
}
.font80, .small-font{
    font-size:  80%;
}
.font70, .x-small-font{
    font-size:  70%;
}


/* quadrati */
.q10{
    height: 10px;
    width:  10px;
}
.q20{
    height: 20px;
    width:  20px;
}
.q30{
    height: 30px;
    width:  30px;
}
.q40{
    height: 40px;
    width:  40px;
}
.q50{
    height: 50px;
    width:  50px;
}
.q60{
    height: 60px;
    width:  60px;
}
.q70{
    height: 70px;
    width:  70px;
}
.q80{
    height: 80px;
    width:  80px;
}
.q100{
    height: 100px;
    width:  100px;
}
.q120{
    height: 120px;
    width:  120px;
}
.q150{
    height: 150px;
    width:  150px;
}
.q200{
    height: 200px;
    width:  200px;
}


/* SPACING */

.padd2, ul.padd2 li, table.padd2 td{
    padding: 2px;
}
.padd5, ul.padd5 li, table.padd5 td{
    padding: 5px;
}
.padd10, ul.padd10 li, table.padd10 td{
    padding: 10px;
}
.padd20, ul.padd20 li, table.padd20 td{
    padding: 20px;
}
.padd40, ul.padd40 li, table.padd40 td{
	padding: 40px;
}

/* top bottom */
.paddTB2, ul.paddTB2 li, table.paddTB2 td{
    padding-top:    2px;
    padding-bottom: 2px;
}
.paddTB5, ul.paddTB5 li, table.paddTB5 td{
    padding-top:    5px;
    padding-bottom: 5px;
}
.paddTB10, ul.paddTB10 li, table.paddTB10 td{
    padding-top:    10px;
    padding-bottom: 10px;
}
.paddTB15, ul.paddTB15 li, table.paddTB15 td{
    padding-top:    15px;
    padding-bottom: 15px;
}
.paddTB20, ul.paddTB20 li, table.paddTB20 td{
    padding-top:    20px;
    padding-bottom: 20px;
}
.paddTB40, ul.paddTB40 li, table.paddTB40 td{
    padding-top:    40px;
    padding-bottom: 40px;
}
.paddTB50, ul.paddTB50 li, table.paddTB50 td{
    padding-top:    50px;
    padding-bottom: 50px;
}


/* left right */
.paddLR5, ul.paddLR5 li, table.paddLR5 td{
    padding-left:   5px;
    padding-right:  5px;
}

.paddLR10, ul.paddLR10 li, table.paddLR10 td{
    padding-left:   10px;
    padding-right:  10px;
}
.paddLR20, ul.paddLR20 li, table.paddLR20 td{
    padding-left:   20px;
    padding-right:  20px;
}
.paddLR40, ul.paddLR40 li, table.paddLR40 td{
    padding-left:   40px;
    padding-right:  40px;
}
.paddLR50, ul.paddLR50 li, table.paddLR50 td{
    padding-left:   50px;
    padding-right:  50px;
}

/* top */
.paddT2, ul.paddT2 li, table.paddT2 td{
    padding-top:    2px;
}
.paddT5, ul.paddT5 li, table.paddT5 td{
    padding-top:    5px;
}
.paddT10, ul.paddT10 li, table.paddT10 td{
    padding-top:    10px;
}
.paddT15, ul.paddT15 li, table.paddT15 td{
    padding-top:    15px;
}
.paddT20, ul.paddT20 li, table.paddT20 td{
    padding-top:    20px;
}
.paddT40, ul.paddT40 li, table.paddT40 td{
    padding-top:    40px;
}
.paddT50, ul.paddT50 li, table.paddT50 td{
    padding-top:    50px;
}

.paddT60, ul.paddT60 li, table.paddT60 td{
    padding-top: 60px;
}

.paddT10p{
	padding-top: 10%;
}
.paddT20p{
	padding-top: 10%;
}
.paddT30p{
	padding-top: 10%;
}
.paddT40p{
	padding-top: 10%;
}
.paddT50p{
	padding-top: 10%;
}

.paddT10vh{
	padding-top: 10vh;
}
.paddT20vh{
	padding-top: 10vh;
}
.paddT30vh{
	padding-top: 10vh;
}
.paddT40vh{
	padding-top: 10vh;
}
.paddT50vh{
	padding-top: 10vh;
}


/* bottom */
.paddB2, ul.paddB2 li, table.paddB2 td{
    padding-bottom:    2px;
}
.paddB5, ul.paddB5 li, table.paddB5 td{
    padding-bottom:    5px;
}
.paddB10, ul.paddB10 li, table.paddB10 td{
    padding-bottom:    10px;
}
.paddB15, ul.paddB15 li, table.paddB15 td{
    padding-bottom:    15px;
}
.paddB20, ul.paddB20 li, table.paddB20 td{
    padding-bottom:    20px;
}
.paddB40, ul.paddB40 li, table.paddB40 td{
    padding-bottom:    40px;
}
.paddB50, ul.paddB50 li, table.paddB50 td{
    padding-bottom:    50px;
}

.paddB60, ul.paddB60 li, table.paddB60 td{
    padding-bottom: 60px;
}


.marg10{
    margin: 10px;
}
.marg20{
    margin: 20px;
}

/* opacity */
.op8{
    opacity: .8;
}
.op7{
    opacity: .7;
}
.op6{
    opacity: .6;
}
.op5{
    opacity: .5;
}
.op4{
    opacity: .4;
}
.op3{
    opacity: .3;
}
.op2{
    opacity: .2;
}

.radius10{
    border-radius: 10px;
}
.radius50{
    border-radius: 50px;
}
.radius-round, .round{
    border-radius: 100%;
}

.no-overflow, .no-over{
    overflow:   hidden;
}

.upper{
    text-transform: uppercase;
}
.wb{
    font-weight: bolder;
}

.center{
    text-align: center;
}

.left{
    text-align: left;
}

.right{
    text-align: right;
}

.space-line{
    border-bottom: 1px solid;
    border-color:  rgba(0,0,0,.1);
}

.borderB{
    border-bottom: 1px solid;
}

@media screen and (max-width: 620px){
    .only-mob{
        display:   block;
    }

    .no-mob{
        display:   none;
    }

    .article .intro{
        padding-top:   60px;
    }
}


/* ------------------------------------------------ *\
---------------------- VARIABILI ---------------------
\* ------------------------------------------------ */


/* color */
.Bgray{
    background-color: #EEE;
}

.Bblue{
    background-color: #536DFE;
    color:            white;
}
.Bdark-smooth{
    background: linear-gradient(to top, rgba(0,0,0,.80)0%, rgba(0,0,0,.40)45%, transparent 80%);
    color:      white;
}

.Bwhite{
    background-color: white;
    color:            black;
}

.Bblack{
    background-color: rgb(60,60,60);
    color:            white;
}

.Bred{
    background-color: #F85133;
    color:            white;
}

.Byellow{
    background-color: #ECFF50;
    color:            black;
}

.Blight-gray{
    background-color: rgb(240,240,240);
    color:            black;
}

.Blight-blue{
    background-color: rgb(127, 179, 254);
    color:            white;
}

.Cred, .active-color{
    color:            #F85133;
    border-color:     #F85133;
}
.Cwhite{
    color:            white;
}
.Cblue{
    color:            #536DFE;
}
.Cyellow{
    color:            #ECFF50;
}
.Clight-blue{
    color:            rgb(127, 179, 254);
}


.border-red{
    border-color:     #F85133;
}
.border-blue{
    border-color:     #536DFE;
}
.border-green{
    border-color:     #A9DE71;
}



/* ------------------------------------------------- *\
------------------- I WILL FIX THIS
\* ------------------------------------------------- */

/* ul and table only transfert properties! */
ul, table{
    padding:    0 !important;
    margin:     0 !important;
}
